/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*body{
    background-image: url("/cow.jpg");
    background-color: #cccccc;
}

/*
typography*/
body{
	font-family: 'Lato', sans-serif;
}
/*typography ends*/



/*style nav_bar start*/
	.list_navbar{
    	margin-top: 9%;
		text-align: center;
	}
	.brand_navbar{
	align-content: center;
    text-align: center;
    padding: 9%;
	}
	.brand_description{
	margin-top: -2%;
    margin-left: 1%;
    position: relative;
    width: 81vw;
	}

	
 a:hover{
 	color: inherit;
 }


@media (max-width: 768px){
	.description {
    display: none;
}
.brand_navbar{
	margin-top: -20%;
}
}


@media (min-width: 768px){
	.position_session{
position: fixed !important;
    right: 5%;
}
}
/*style nav_bar end*/
